body{
    font-family: sans-serif;
    min-width: 800px;
    overflow-x: auto;
}
pre.log {
    max-height: 300px;
    overflow-y: scroll;
    border: solid 1px #000000; 
}

p.result {
    font-weight: bold;
}

p.success {
    color: #006600;
}

p.fail {
    color: #FF0000;
}

/*header {
    border: solid 1px red;
}*/

#logo, header h1 {
    /*border: solid 1px black;*/
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

ul#menu-principal {
    background: #000000;
    color: #FFFFFF;
    padding: 0;
    height: 35px;

    position: relative;
    z-index: 1;

    background: #4c4c4c; /* Old browsers */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */

}

ul#menu-principal li {
    /*border: 1px red solid;*/
}

ul#menu-principal a {
    display: block;
    height: 25px;
    width: 150px;

    padding-top: 10px;

    text-align: center;

    background: transparent;
    color: #FFFFFF;

    text-decoration: none;
    /*border: 1px black solid;*/
}

ul#menu-principal ul a {
    background: black;
    color: inherit;
} 

ul#menu-principal input {
    display: block;
    width: 150px;

    margin-top: 5px;
    padding-left: 5px;
}

ul#menu-principal > li > a {
    font-weight: bold;
}
ul#menu-principal li:hover > a {
    /*background: transpare;*/
    color: #CCCCCC;
}

li#search-item {
    display: block;
    height: 35px;
    width: 150px;

    border-left: solid 1px #FFFFFF;
    padding-left: 10px;
}

ul#menu-principal > li {
    display: inline-block;
    vertical-align: top;
} 

ul#menu-principal li > a {
    display: block;
}

ul#menu-principal ul {
    display: none;
    list-style: none;
    padding: 0;
}

ul#menu-principal > li:hover ul {
    display: block;
}
