@import url("menu.css");

#section-admin nav {
    display: inline-block;
    width: 150px;

    vertical-align: top;
}

#section-admin nav ul {
    list-style: none;
    padding-left: 15px;
}


#section-admin article {
    display: inline-block;
}

/* Corps. */
body {
    /* Police sans chasse (façon Arial) */
    font-family: sans-serif;
    /* Largeur minimale : 850px. */
    min-width: 850px;

    /* Pas de marges. */
    margin: 0;
    padding: 0;

    /* Fond gris. */
    background: #C0C0C0;
}
/* ------------------------- */

/* Enfants directs du corps. */
body > * {
    /* Largeur max: 1200px. */
    max-width: 1200px;

    /* Centrés. */
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------- */

/* Titre de la page. */
h1 .title-group {
    display: inline-block;
    vertical-align: middle;
}
h1 .title {
    display: block;
}
h1 .subtitle {
    display: block;
    font-size: 0.6em;
    font-style: oblique;
}
#logo {
    vertical-align: middle;
}

/* ------------------------- */
/* Sections de page de premier niveau. */
body > section {
    /* Fond blanc. */
    background: #FFFFFF;

    /* Marges verticales intérieures : 10px. */
    padding-top: 5px;
    padding-bottom: 5px;
    /* Marge verticale haute extérieure : 10px. */
    margin-top: 10px; 
}
/* Enfants directs des sections de premier niveau. */
body > section > * {
    /* Marges extérieures horizontales 10px. */
    margin-left: 10px;
    margin-right: 10px;
}


/* ------------------------- */
/* Messages partie administration. */
pre.log {
    max-height: 300px;
    overflow-y: scroll;
    border: solid 1px #000000; 
}
p.result {
    font-weight: bold;
}
p.success {
    color: #006600;
}
p.fail {
    color: #FF0000;
}
footer > ul > li{
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
