@import url("menu.css");

#section-admin nav {
    display: inline-block;
    width: 150px;

    vertical-align: top;
}

#section-admin nav ul {
    list-style: none;
    padding-left: 15px;
}


#section-admin article {
    display: inline-block;
}

html {
  min-height: 100%;

}

/* Corps. */
body {
    /* Police sans chasse (façon Arial) */
    font-family: sans-serif;
    /* Largeur minimale : 850px. */
    min-width: 850px;
    

    /* Pas de marges. */
    margin: 0;
    padding: 0;

    /* Fond gris. */
    /*background: #85AFC7;*/
    /*background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);*/
    background: linear-gradient(to bottom, rgba(125,185,232,0.37) 0%,rgba(95,154,207,0.7) 32%,rgba(41,99,163,0.73) 88%,rgba(30,87,153,1) 100%); /* W3C */
}
/* ------------------------- */

/* Enfants directs du corps. */
body > * {
    /* Largeur max: 1200px. */
    max-width: 1200px;

    /* Centrés. */
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------- */
header {
  color: black;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

}
header h1 {
   /* text-shadow: 0px 0px 10px #444444;*/
  display: inline-block;
  margin: 0;
}
/* Titre de la page. */
header h1 .title-group {
    display: inline-block;
    vertical-align: middle;
    
}
header h1 .title {
    display: block;
  
}
header h1 .subtitle {
    display: block;
    font-size: 0.6em;
    font-style: oblique;
}
#logo {
    vertical-align: middle;
}

#espace-client {
  display: inline-block;
  position: absolute;
  right: 0;

  font-size: 0.8em;
  font-weight: bold;
  
  vertical-align: bottom;
  margin-top: 10px;


}
#espace-client a {
  margin-left: 2em;
  color: #000000;
  text-decoration: none;
}

#espace-client .fa {
  width: 20px;
  text-align: right;
}

#espace-client ul{
  list-style-type: none;
}

/* ------------------------- */
/* Sections de page de premier niveau. */
body > section {
    /* Fond blanc. */
    background: #FFFFFF;

    /* Marges verticales intérieures : 10px. */
    padding-top: 5px;
    padding-bottom: 5px;
    /* Marge verticale haute extérieure : 10px. */
    margin-top: 10px; 
}
/* Enfants directs des sections de premier niveau. */
body > section > * {
    /* Marges extérieures horizontales 10px. */
    margin-left: 20px;
    margin-right: 20px;
}


/* ------------------------- */
/* Messages partie administration. */
pre.log {
    max-height: 300px;
    overflow-y: scroll;
    border: solid 1px #000000; 
}
p.result {
    font-weight: bold;
}
p.success {
    color: #006600;
}
p.fail {
    color: #FF0000;
}

.hidden {
display:none;
}

.shown {
display:visible;
}

#formulairecontact h2{
  text-align: center;
  margin-top: 0;
}

#formulairecontact {
    /* Pour le centrer dans la page */
  width: 500px;
	background-color:#F3F3F3;
  margin-left: 2cm;
  margin-right: 2cm;
    /* Pour voir les limites du formulaire */
  padding: 3em;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}

#formulaire {
  margin-left: 20%;
  margin-top: 10px;

}
#formulairecontact div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    min-width: 120px;
    text-align: left;
}


input#identifiant, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 300px;
    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #C0C0C0;

}
input#identifiant:focus, textarea:focus {
  /* Afin de rehausser les éléments actifs */
  border-color: #000;
}

input[type=submit], input[type=reset] {
  cursor:pointer;
}

textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 6em;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

.groupe-boutons {
  text-align: center;
}
#inscription fieldset{
  border: 1px solid #C0C0C0;
  background-color: #FAFAFA;

}
#inscription legend {
  font-size: 0.9em;
}
#inscription div + div {
    margin-top: 0.5em;
}
#inscription label {
    display: inline-block;
    min-width: 140px;
    text-align: left;
}
#inscription {
  background-color:#F3F3F3;
    margin-right: 1cm;
    padding: 2em;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width:600px;
    margin-left: 25%;
    margin-top: 10px;
}
#inscription h2 {
  text-align: center;
  margin-top: 0;

}
  

/* ---------------------------------- */
#menu2 {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 0;
  position: relative;
  left: 10px;
}

#menu2 h3 {
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
  color: white;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;

  display: block;
  padding: 4px 7px; /* vertical, horizontal */
  border-left: 5px solid black;
}

#menu2 ul {
  margin-top: 0;
}

section#section-produits {
  background: transparent;
}
section#section-produits article {
  /*display: block;*/
  margin-left: 250px;
  position: relative;
  left: 10px;
  /*width: ;*/
  /*width: 300px;*/
  /*max-width: 900px;*/
}

#menu2 ul li:first-child {
  border-bottom: solid 2px black;
}

#menu2 ul {
  width: 225px;

  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;

  /*margin-top: 1.8cm;*/
  padding-left:0;
  /*margin-right: 5px;*/
  list-style-type:none;
  /*display: inline-block;*/
}


#menu2 ul li a {
  display: block;
  background: #f2f4f5; /*gris*/
  /*width:200px;*/
  text-decoration: none;
  padding: 4px 7px; /* vertical, horizontal */
  border-left: 5px solid black;
  color: #333333;
}

#menu2 ul li a:hover {
  border-left-color: #0099FF;/*bleu*/
  color: #0066FF;
  background: white;
}

/* Page d'accueil ---------- */
#accueil {
  border-top:2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
section#accueil div {
  position: relative;
  min-height: 323px;
}

article#bienvenue {
  text-align: justify;
  margin-left: 517px;
  margin-right: 5px;
  padding-right: 32px;
  padding-left: 32px;
  min-height: 323px;
  font-family: "Trebuchet MS";
  /*margin-right: 455px;*/
}

#bienvenue p:first-child {
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}

aside#pub {
    position: relative;
    width: 492px;
    height: 323px;
    overflow: hidden;
    float: left;
}


#nouveautes figure {
  display: inline-block;
  margin: 15px;
  width: 150px;
  text-align: center;
  vertical-align: top;
  font-style: italic;
}


#nouveautes h2,
#section-panier h2 { 
  background: linear-gradient(to bottom, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
  font-family: sans-serif;
  border-radius: 10px;
  padding-left: 20px;
  text-align: left;
}

#section-produits h2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5em;
  background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
  font-family: sans-serif;
  border-radius: 10px;
  padding-left: 20px;
  text-align: left;
}

#nouveautes h2 .title,
#section-panier h2 .title {
  display: inline-block;
  border-radius: 8px;
  width: 100%;
  color: white;
  font-weight: normal;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,251,249,1) 100%); /* W3C */
   
}

#section-produits h2 .title {
  display: inline-block;
  border-radius: 8px;
  width: 100%;
  color: black;
  font-weight: normal;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,251,249,1) 100%); /* W3C */
}

#nouveautes {
  margin-top: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
}

/* ------------------------ */

/*Pied de page */
#information ul { 
    list-style: none; 
    padding: 0;
}

#information li { 
    display: inline-block; 
    margin-left: 5px; 
    margin-right: 5px; 
}
#information { 
    text-align: center; 
}
#information a {
  color: black;
}

/* --------------- */
table.results {
  border-radius: 0;
  border: solid 1px #778899;
  margin: 0;
}

table.results caption {
  background: transparent;
  color: inherit;
  margin-bottom: 5px;
}

table.results tr.tablesorter-filter-row {
  display: none;
}

table.results td,
table.results th.tablesorter-header {
  border: solid 1px #778899;
}

table.results img{
  max-height: 150px;
}

.pager {
  text-align: center;
}

table.results a {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

#affichage_results {
  padding-top: 1px;
  padding-bottom: 1px;

}

nav#menu-principal + section {
  min-height: 200px;
}
/* Espace perso ---------- */

nav.menu-nav
{
	float: left;
	border :2px solid black;
	width: 13%;
	background-color: transparent;
	Margin-top: 8%;
}

section.commande
{
	Margin-bottom:23%;
	background-color: transparent;
	border: 2px solid black;
	margin-top: 7%;
}

option[selected][disabled] {
  display: none;
}

#ui-datepicker-div { 
  font-size: .8em; 
}

.nb {
  visibility: hidden;
}

.nb input {
  width: 3em;
}

.nb .ui-spinner {
  font-size: 0.8em;
  width: 4em;
}

/* Mentions Legales ---------- */

section#mentions-legales {
  border:2px solid black;
  background-color: transparent;
  text-align: justify;
}

section#mentions-legales h2 {
  text-align:center;
}
section#mentions-legales h3 {
  font-size: 1.1em;
}

/* Panier ------------------- */
section#section-panier tfoot th,
section#section-panier tfoot td {
  font-weight: bold !important; /* Règle !important utilisée par .tablesorter-jui ... */
}
section#section-panier .groupe-boutons {
  text-align: right;
}
section#section-panier .groupe-boutons button {
  /*line-height: 50px;*/
  /*font-size: 1em;*/
  font-weight: bold;
  line-height: 1.5em;
  /*width: 150px;*/
  text-align: left;
  /*border-radius: 10px;*/
  padding-left: 10px;
}

section#section-panier .groupe-boutons button .fa {
  /*margin-left: 10px;*/
}

.prix:after {
  content: " €";
}