

h1{
  text-align: center;
}

p {
text-align:center;
}

p1 {;
Margin:20 px;
Margin-left:43%;
}
.gras
{
font-weight: bold;
}

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width:50%;
 }
td { 
 border-width:1px;
 border-style:solid; 
 border-color:black;
 width:50%;
 }
 
 .blanc {
 border:1px solid black; 
 background-color:white;
 }