@import url("menu.css");

#section-admin nav {
    display: inline-block;
    width: 150px;

    vertical-align: top;
}

#section-admin nav ul {
    list-style: none;
    padding-left: 15px;
}


#section-admin article {
    display: inline-block;
}

/* Corps. */
body {
    /* Police sans chasse (façon Arial) */
    font-family: sans-serif;
    /* Largeur minimale : 850px. */
    min-width: 850px;

    /* Pas de marges. */
    margin: 0;
    padding: 0;

    /* Fond gris. */
    background: #C0C0C0;
}
/* ------------------------- */

/* Enfants directs du corps. */
body > * {
    /* Largeur max: 1200px. */
    max-width: 1200px;

    /* Centrés. */
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------- */

/* Titre de la page. */
h1 .title-group {
    display: inline-block;
    vertical-align: middle;
}
h1 .title {
    display: block;
}
h1 .subtitle {
    display: block;
    font-size: 0.6em;
    font-style: oblique;
}
#logo {
    vertical-align: middle;
}
#espace_client {
  font-size: 0.4em;
  float: right;
  margin-top: 20px;

}
#espace_client a{
  color: #000000;
  }


/* ------------------------- */
/* Sections de page de premier niveau. */
body > section {
    /* Fond blanc. */
    background: #FFFFFF;

    /* Marges verticales intérieures : 10px. */
    padding-top: 5px;
    padding-bottom: 5px;
    /* Marge verticale haute extérieure : 10px. */
    margin-top: 10px; 
}
/* Enfants directs des sections de premier niveau. */
body > section > * {
    /* Marges extérieures horizontales 10px. */
    margin-left: 10px;
    margin-right: 10px;
}


/* ------------------------- */
/* Messages partie administration. */
pre.log {
    max-height: 300px;
    overflow-y: scroll;
    border: solid 1px #000000; 
}
p.result {
    font-weight: bold;
}
p.success {
    color: #006600;
}
p.fail {
    color: #FF0000;
}

.hidden {
display:none;
}

.shown {
display:visible;
}

 
form {
    /* Pour le centrer dans la page */
  margin: 0 auto;
    width: 500px;
    /* Pour voir les limites du formulaire */
    padding: 3em;
    border: 3px solid #000000;
    border-radius: 4em;
}
form div + div {
    margin-top: 1em;
}
label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 120px;
    text-align: right;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 2px solid #000000;
    box-shadow:1px 1px 2px #000000 inset;
}
input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
  border-color: #000;
}
textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
   height: 6em;

      /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
/*    padding-left: 90px; /* même dimension que les étiquettes */
}

button {
  margin-left: 11em;
}

a {
  text-decoration: none;
}
ul, ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu2 {  
  width: 220px;
  float:left;
  margin: 50px auto;
  font-size: 0.8125em;
}
.menu {
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
  background-color: #000000;
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: inset 0px 1px 0px 0px #000000;
  -moz-box-shadow: inset 0px 1px 0px 0px #000000;
  box-shadow: inset 0px 1px 0px 0px #000000;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.menu ul li a {
  background: #fff;
  border-bottom: 1px solid #efeff0;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.923em;
  font-weight: 400;
  color: #000000;
}

.menu > li > a:before {
  content: '';
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  font-size: 36px;
  height: 1em;
    width: 1em;
  position: absolute;
    left: 0;
  top: 50%;
  margin: -.5em 0 0 0;
}

.menu > li > a span {
  font-size: 0.857em; 
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 50%; 
  background: #48515c;
  line-height: 1em;
  height: 1em;
  padding: .4em .6em;
  margin: -.8em 0 0 0; 
  color: #fff;
  text-indent: 0;
  text-align: center;
  -webkit-border-radius: .769em;
  -moz-border-radius: .769em;
  border-radius: .769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
  font-weight: 500;
}

.menu > li > ul li a:before{
  content: '▶';
  font-size: 8px;
  color: #bcbcbf;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
  color: #32373D;
}


.menu ul > li > a span {
  font-size: 0.857em; 
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 50%; /
  background: #fff;
  border: 1px solid #d0d0d3;
  line-height: 1em;
  height: 1em;
  padding: .4em .7em;
  margin: -.9em 0 0 0; 
  color: #000000;
  text-indent: 0;
  text-align: center;
  -webkit-border-radius: .769em;
  -moz-border-radius: 769em;
  border-radius: 769em;
  text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}


#tableau-catalogue {
border: medium solid #000000;
border-collapse: collapse;
width: 80%;
}
th {
border: thin solid #000000;
width: 1px; 
padding: 5px;
}
td {
border: thin solid #000000;
width: 10px;
padding: 5px;
}
tr {
border: thin solid #000000;
width: 10px;
padding: 5px;
text-align: left;
}

/*Pied de page */
#information ul { 
    list-style: none; 
    padding: 0;
}

#information li { 
    display: inline-block; 
    margin-left: 5px; 
    margin-right: 5px; 
}
#information { 
    text-align: center; 
}
/* --------------- */

table.results tr.tablesorter-filter-row {
  display: none;
}